# Default owners for everything in the repo
* @MandarapuMadhulatha @sandeepkunkunuru @vinod-dega

# Python implementation ownership
*.py @MandarapuMadhulatha @sandeepkunkunuru @vinod-dega

# Documentation ownership
/docs/ @MandarapuMadhulatha @sandeepkunkunuru @vinod-dega
*.md @MandarapuMadhulatha @sandeepkunkunuru @vinod-dega

# GitHub specific files
.github/ @vinod-dega
